@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i');
$font-family: 'Lato';
@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
$font-family: 'Raleway';
@import url('https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i');
$font-family: 'Lora';

// Colors

$font-defaut-gray: #707070;

$dark-blue: #005B94;

$light-blue: #0E94D2;

$purple: #562F90;

$fuchsia: #9A268E;

$orange: #F79422;

$white: #FFFFFF;

$black: #000000;

$orange-hover: #E6672B;

$grey-background:#F8F8F8;
$light-grey: #B8B8B8;
$dark-grey: #707070;
$yellow: #FFF952;
$white: #FFFFFF; 

$icomoon-font-family: "milk-icons" !default;
$icomoon-font-path: "../fonts" !default;

$icon-facebook: "\e900";
$icon-twitter: "\e901";
$icon-instagram: "\e902";
$icon-menu: "\e903";

$icon-milk_shake: "\e904";
$icon-milk: "\e905";
$icon-coofee: "\e906";
$icon-cookie: "\e907";
$icon-biberon: "\e908";
$icon-cereal: "\e909";


